@model Capstone.Web.Models.UserModel
@if (Model == null)
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "User") </li>
        <li>@Html.ActionLink("Log In", "Login", "User")</li>
    </ul>
}
else
{
    <ul id="userInfo">
        <li>@Model.Username</li>
        <li>@Model.CurrentMoney.ToString("C")</li>
    </ul>

    <ul>
        <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
    </ul>
}

