@model Capstone.Web.Models.UserModel


@if (Model == null)
{
    @Html.ActionLink("Home", "Index", "Home", null, new { @id = "homeLink"})
    <ul id="nav-login">
        <li>@Html.ActionLink("Register", "Register", "User") </li>
        <li>@Html.ActionLink("Log In", "Login", "User")</li>
    </ul>
}
else
{
    @Html.ActionLink("Home", "LoggedInLanding", "Home", null, new { @id = "homeLink" })
    <div id="userInfo">
        <ul id="userInfoList">
            <li>@Model.Username</li>
            <li>@Model.CurrentMoney.ToString("C0")</li>
        </ul>
    </div>

    <ul id="nav-logout">
        <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
    </ul>
}

