@model Capstone.Web.Models.UserAndTable
@{
    ViewBag.Title = "TakeSeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div id="takeSeat">
        <div id="takeSeatHead">
            <h2>@Model.Table.Name</h2>

            <h3>@Model.Table.TableHost</h3>
        </div>
        @* get username from session
            need amount of money they're bringing *@

        <table>
            <tr>
                <td>Ante</td>
                <td>@Model.Table.Ante.ToString("C0")</td>
                <td>Minimum Bet</td>
                <td>@Model.Table.MinBet.ToString("C0")</td>
            </tr>
            <tr>
                <td>Maximum Buy-In</td>
                <td>@Model.Table.MaxBuyIn.ToString("C0")</td>
                <td>Maximum Bet</td>
                <td>@Model.Table.MaxBet.ToString("C0")</td>
            </tr>
            <tr>
                <td> Your Current Money</td>
                <td></td>
                <td></td>
                <td>@Model.User.CurrentMoney.ToString("C0")</td>
            </tr>
        </table>

        @if (Model.WasFailure)
        {
            <p class="validationError">Please bring a valid amount of money to the table.</p>
        }

        @using (Html.BeginForm("TakeSeat", "Table", FormMethod.Post))
        {
            <div>
                <div class="inputBox">
                    @Html.LabelFor(m => m.MoneyToTheTable, "How Much Money Will You Bring?", new { @class = "seatLabel" })
                    @Html.TextBoxFor(m => m.MoneyToTheTable, new { @class = "seatInputField", placeHolder = "Maximum Buy-In" })
                    @* validation? *@
                </div>
                @Html.HiddenFor(m => m.Table.TableID, Model.Table.TableID)
                @Html.HiddenFor(m => m.User.Username, Model.User.Username)
                @Html.HiddenFor(m => m.Table.MaxBuyIn, Model.Table.MaxBuyIn)
            </div>
            <div id="inputButton">
                <button>Join</button>
            </div>

        }
    </div>
</section>
