@model Capstone.Web.Models.Table

@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2>@Model.Name</h2>

    <div id="otherPlayersFields">
        @foreach (var seat in Model.Seats)
        {
            if (seat.Username.ToLower() != Session["username"].ToString().ToLower())
            {
                <div>
                    <p>@seat.Username</p>
                    <p>@seat.TableBalance.ToString("C")</p>
                </div>
            }
        }
    </div>

    @foreach (var seat in Model.Seats)
    {
        if (seat.Username.ToLower() == Session["username"].ToString().ToLower())
        {
            <div id="currentUserPlayField">
                <p>@seat.Username</p>
                <p>@seat.TableBalance.ToString("C")</p>
                @foreach (var card in seat.Hand.MyHand)
                {
                    <div class="playingCard">
                        <p>@card.ConvertedNumber @card.SuitLetter</p>
                    </div>
                }
            </div>
        }
    }

    @using (Html.BeginForm("HandSetup", "Game", FormMethod.Get))
    {
        <button>Advance</button>
    }

</section>

