@model Capstone.Web.Models.Table

@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 0;

    int seated = 1;

    string player = "player" + seated;
}

<section>
    <div id="gameArea">
        <h2>@Model.Name</h2>
        <div id="populatedGameArea">
            <img src="~/Content/img/ovalpokertable.png" />

            @foreach (var seat in Model.Seats)
            {

                if (seat.Username.ToLower() == Session["username"].ToString().ToLower())
                {
                    <div id="@player">
                        <p>@seat.Username</p>
                        <p>@seat.TableBalance.ToString("C")</p>
                    </div>

                    seated++;

                    player = "player" + seated;

                    break;
                }
                i++;
            }
            @for (int j = i + 1; j < 5; j++)
            {
                <div id="@player">
                    <p>@Model.Seats[j].Username</p>
                    <p>@Model.Seats[j].TableBalance.ToString("C")</p>
                </div>

                seated++;

                player = "player" + seated;

            }
            @for (int j = 0; j < i; j++)
            {
                <div id="@player">
                    <p>@Model.Seats[j].Username</p>
                    <p>@Model.Seats[j].TableBalance.ToString("C")</p>
                </div>

                seated++;

                player = "player" + seated;
            }

            @using (Html.BeginForm("HandSetup", "Game", FormMethod.Get))
            {
                @Html.Hidden("tableID", Model.TableID);
                <button>Advance</button>
            }
        </div>
    </div>
</section>

